/* .container{
    background-color: red;
} */
body {
    font-family: 'Montserrat', sans-serif;
    
    background: gainsboro;
    
   
}
.course-regi{
    font-size: 30px;
    width: 1000px;
}

 .card {
    width: 230px;
    height: 340px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    
}

.photo {
    width: 230px;
    height: 150px;
    border-radius: 10px;
    
}
.course-name{
    
    font-size:13px;
    

}
.details{
    font-size: 12px;
    text-align: left;
    padding: 0px;
    margin-bottom: 0px;

}

.info {
    display: flex;
    justify-content: space-between;
    font-size:15px ;
    
    
}


.card-btn {
    background-color: #2F80ED;
    width: 100%;
    border-radius: 8px;

}

.home-container {
    display: flex;
}

.card-container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 200px;
    
  


}
.cart{
    width: 290px;
        height: 340px;
        padding-left: 15px;
        background: white;
        border-radius: 10px;
       
        text-align: left;
}
.remaining-hour{
    font-size: 14px;
    color: #2F80ED;
    
}
.cart-course-name{
    font-size: 16px;

}
.cart-total{
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.cart-list-item{
    font-size: 12px;
}